/* INCONSOLATA */
@font-face {
    font-family: 'Inconsolata';
    src: url(/fonts/Inconsolata/Inconsolata-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'Inconsolata bold';
    src: url(/fonts/Inconsolata/Inconsolata-Bold.ttf) format('truetype')
}

/* OPEN SANS */
@font-face {
    font-family: 'Open Sans light';
    src: url(/fonts/Open_Sans/OpenSans-Light.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans bold';
    src: url(/fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans semibold';
    src: url(/fonts/Open_Sans/OpenSans-SemiBold.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans extrabold';
    src: url(/fonts/Open_Sans/OpenSans-ExtraBold.ttf) format('truetype')
}

@font-face {
    font-family: 'Open Sans italic';
    src: url(/fonts/Open_Sans/OpenSans-Italic.ttf) format('truetype')
}

/* EXO2 */
@font-face {
    font-family: 'Exo2';
    src: url(/fonts/Exo-2/Exo2-Regular.otf) format('opentype')
}

@font-face {
    font-family: 'Exo2 light';
    src: url(/fonts/Exo-2/Exo2-Light.otf) format('opentype')
}

@font-face {
    font-family: 'Exo2 bold';
    src: url(/fonts/Exo-2/Exo2-Bold.otf) format('opentype')
}

@font-face {
    font-family: 'Exo2 semibold';
    src: url(/fonts/Exo-2/Exo2-Semibold.otf) format('opentype')
}

@font-face {
    font-family: 'Exo2 extrabold';
    src: url(/fonts/Exo-2/Exo2-Extrabold.otf) format('opentype')
}

@font-face {
    font-family: 'Exo2 italic';
    src: url(/fonts/Exo-2/Exo2-Italic.otf) format('opentype')
}

body {
    font-family: sans-serif;
}

canvas {
    /* border: 2px solid black; */
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.canvasBorder {
    border: 1px solid black;
}

p {
    margin: 0;
}

dl {
    margin-bottom:30px;
}
 
dl dt {
    float:left; 
    font-weight:bold; 
    margin-right:10px; 
    padding:5px;  
    width:150px; 
}
 
dl dd {
    margin:2px 0; 
    padding:5px 0;
} 

.container {
    display: flex;
}

.item {
    order: column;
    margin-left: 50px;    
}

.item:first-child {
    margin-left: 0;
    margin-right: 50px;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .item {
        margin-left: 20px;
    }
}